@use "../styles/variables" as *;

.common-page {
    // background-color: rgba(255, 255, 255, 0.356);
    // background-color: rgba(0, 0, 0, 0.356);
    background-color:$dark-grey-blue;
    opacity: 0.94;
    // height: 100vh;;
    color: rgb(255, 81, 0);
    padding: 10px;
    padding-right: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    &_banner{
        width: 1100px;
        height: 95px;
        margin: 0;
        padding-top: 0;
    }
    &__img {
        width: 293px;
        height: 450px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin-top: 25px;
        &-text{
            color: black;
        }
    }
    &__back {
        display: block;
        grid-column: 3;
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }

    .err{
        grid-column-start: 1;
        grid-column-end: 4;
        width: 500px;
        // background-color: white;
    }

    svg{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}


