@use "../styles/variables" as *;

.not-found-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 100vh;  
    align-items: center;
    background: linear-gradient(130deg, $darked-blue, $dark-grey-blue 50%, $darked-blue);
    padding: 20px;
    text-align: center;

    img {
        background-color: inherit;
        width: 50%; 
        margin: 0 auto;
        border-radius: 10px;
    }

    &__title {
        color: white;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    }

    &__back-button {
        justify-self: center;
        padding: 12px 24px;
        font-weight: bold;
        font-size: 18px;
        color: white;
        background-color: $main-color;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: $main-color;
            transform: translateY(-3px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }

        &:active {
            transform: translateY(0);
            box-shadow: none;
        }
    }
}

@media (max-width: 768px) {
    .not-found-page {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .not-found-page__title {
        font-size: 28px;
    }

    .not-found-page__back-button {
        font-size: 16px;
    }
}
