@use "../styles/variables" as *;

.comics {
    &__list {
        margin-top: 45px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 225px);
        justify-content: space-between;
        row-gap: 55px;
    }
    &__item {
        transition: 0.3s transform;
        background-color: $dark-grey-blue;
        a{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &-sub{
            margin-top: auto;
            display: grid;
            grid-template-columns: repeat((auto-fill, 100px));
            justify-content: space-around;
            // align-items:end;
            justify-items: stretch;
            background-color: $dark;
            &-price {
                margin: 5px;
                // margin: 5px;
                // padding: 5px;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: rgba(0, 0, 0, 0.6);
                text-transform: uppercase;
                align-self: center;
                color: $main-orange;
            }
            &-data{
                margin: 5px;
                text-align: end;
                align-self: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: $main-orange;
            }
        }
        &-img {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            width: 205px;
            height: 305px;
            margin: 10px;
            border-radius: 20px;
        }
        &-name {
            min-height: 70px;
            color: $main-orange;
            margin: 0 10px 10px 10px;
            text-align: center;
            // margin: 5px;
            // padding: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            padding-bottom: 5px;
        }
        // &-price {
        //     margin: 10px;
        //     font-weight: bold;
        //     font-size: 14px;
        //     line-height: 18px;
        //     color: rgba(0, 0, 0, 0.6);
        //     text-transform: uppercase;
        // }
        &-selected{
            transform: translateY(-8px);
            box-shadow: 0 5px 20px $main-color;
        }
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 20px $main-color;
            opacity: 0.90;
        }
    }
    
}

// .fade-in {
//     animation: fadeIn 0.4s cubic-bezier(0.25, 1, 0.5, 1);
// }    

// @keyframes fadeIn {
//     0% {
//         opacity: 0.01;
//         transform: translateY(20px);
//     }
//     100% {
//         opacity: 0.5;
//         transform: translateY(0);
//     }
// }
