@use '../styles/variables.scss' as *;

.skeleton {
    &__header {
        display: grid;
        grid-template-columns: 40px auto;
        column-gap: 10px;
        align-items: center;
    }
    
    &__circle {
        width: 40px;
        height: 40px;
        background-color: $main-orange;
        border-radius: 50%; /* Полностью круглый элемент */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &__mini {
        width: 100%;
        height: 16px;
        background-color: $main-orange;
        border-radius: 8px; /* Немного скругляем углы */
    }

    

    // &__block {
    //     height: 35px;
    //     width: 100%;
    //     background-color: $main-orange;
    //     margin-top: 15px;
    //     border-radius: 8px; /* Скругляем углы */
    // }
}
