$main-color: #9F0013;
$dark: #232222;
$dark-grey-blue: rgb(9,14,21);
$grey: #5C5C5C;
$darked-blue: rgb(0 5 17);
$light-dark-blue: rgb(0,39,96);
$dark-blue: rgb(3, 27, 65);
$main-orange: rgb(239,86,13);